
plugin/node_modules
plugin/.DS_Store
plugin/dist
plugin/ios/Pods/
plugin/.idea
plugin/.vscode
plugin/android/build
plugin/android/.gradle
plugin/android/.idea
demo/SnackBarGFCDemo/.idea
demo/SnackBarGFCDemo/.ionic
demo/SnackBarGFCDemo/.sass-cache
demo/SnackBarGFCDemo/.sourcemaps
demo/SnackBarGFCDemo/.versions
demo/SnackBarGFCDemo/.vscode
demo/SnackBarGFCDemo/coverage
demo/SnackBarGFCDemo/dist
demo/SnackBarGFCDemo/node_modules
demo/SnackBarGFCDemo/platforms
demo/SnackBarGFCDemo/plugins
demo/SnackBarGFCDemo/www
